html
    head
        title="Home"
        link(href="/css/index.css", rel="stylesheet", type="text/css")
    body
        div(class="navigationBox")
            ul(class="nav")
                li
                    a(href="/")
                        h1 OnMyWay
                li
                    a(href="/ridesNow")="Rides Now"
                li
                    a(href="/uta")="UTA"
        div(class="image")
            img(src='https://aestheticmedicaltraining.com/wp-content/uploads/2019/01/saltlakecity1.jpg')  
        div(class="loginBox")
            div(class="loginLabel")="Login"
                label()=error
            form(method="post" id="loginForm" action="logIn")
                div()
                    label()="Email:"
                    input(type="text" name="email" value=email)
                div()
                    label()="Password:"
                    input(type="password" name="password")
                button(class="button" type="submit")="Log In"
            form(method="post" id="signUpForm" action="signUp")
                button(class="button" type=)="Sign Up"
        div(class="info")
            h1 Wanting to get around a City?
            h5 We can Help!
            p Find both kinds of scooter on our map 
            p and information on the UTA system in Salt Lake City! 
script.
    function signUp(){
        location.href = '/signUp';
    }
