html
    head
        title="Home"
        script(src="./app.js")
        link(href="/css/index.css", rel="stylesheet", type="text/css")
    body
        div(class="navigationBox")
            ul(class="nav")
                li
                    h1 OnMyWay
                li
                    a(href="/")="OWM"
                li
                    a(href="/ridesNow")="Rides Now"
                li
                    a(href="/uta")="UTA"
                li
                    a(href="/personal")="Personal"
                li
                    a(href="/flights")="Flights"
                li
                    a(href="/weather")="Weather"
        div(class="image")
            img(src='../images/traxImage.jpg')  