html
    head
        title="Rides Now"
        script(src="./app.js")
        link(href="/css/rideNow.css", rel="stylesheet", type="text/css")
    body
        div(class="navigationBox")
            ul(class="nav")
                li
                    h1 OnMyWay
                li
                    a(href="/")="OWM"
                li
                    a(href="/ridesNow")="Rides Now"
                li
                    a(href="/uta")="UTA"
                li
                    a(href="/personal")="Personal"
                li
                    a(href="/flights")="Flights"
                li
                    a(href="/weather")="Weather"
        div(class="selectingWays")
            a(class='uber') Uber
            a(class='lime') Lime
            a(class='bird') Bird