html
    head
        title="Sign Up"
        script(src="./app.js")
        link()
    body
        div(class="navigationBox")
            ul(class="nav")
                li
                    h1 OnMyWay
                li
                    a(href="/ridesNow")="Rides Now"
                li
                    a(href="/uta")="UTA"
        div()="Sign Up"
            label()=error
        form(method="post" id="loginForm" action="signUp")
            div()
                label()="Name"
                input(type="text" name="name" value=name)
            div()
                label()="Email"
                input(type="text" name="email" value=email)
            div()
                label()="Password"
                input(type="password" name="password")
            button(class="button" type="submit")="Sign Up"