html
    head
        title="Sign Up"
        link(href="/css/signupStyle.css", rel="stylesheet", type="text/css")
    body
        div(class="navigationBox")
            ul(class="nav")
                li
                    a(href="/")
                        h1 OnMyWay
                li
                    a(href="/ridesNow")="Rides Now"
                li
                    a(href="/uta")="UTA"
        div(class="pageTitle")="Sign Up"
            label()=error
        div(class="loginBox")
            form(method="post" id="loginForm" action="signUp")
                div()
                    label()="Name: "
                    input(type="text" name="name" value=name)
                div()
                    label()="Email: "
                    input(type="text" name="email" value=email)
                div()
                    label()="Password: "
                    input(type="password" name="password")
                button(class="button" type="submit")="Sign Up"